<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment Project</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 align="center">Web App Maker</h1>
        <p align="center">Make your own Web Applications | Without Coding</p>
        <p><a class="btn btn-primary btn-block" href="#/login" role="button">Start Here</a></p>
        <p><a class="btn btn-success btn-block" href="#/register" role="button">Create Account</a></p>
    </div>
</div>
<a class="glyphicon glyphicon-home" href="/" role="button" id="homebutton">Home</a>
<a class="glyphicon glyphicon-arrow-left" type="button" onclick="history.go(-1)" role="button" id="backbutton">Back</a>
<footer>
    <a href='http://www.freepik.com/free-vector/hexagonal-pattern_852781.htm'>Background Designed by Freepik</a>
</footer>
</body>
</html>