<div class="container">
    <div class="alert alert-danger"
         ng-show="model.editWidgetForm.$invalid && model.editWidgetForm.$submitted">
        There are errors in the form
    </div>
    <form name="model.editWidgetForm" novalidate>
        <div class="form-group">
            <label for="widget-name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   id="widget-name"
                   placeholder="Name"
                   name="name"
                   required
                   ng-class="{submitted:model.editWidgetForm.name.$invalid && model.editWidgetForm.$submitted}">
             <span ng-show="model.editWidgetForm.$submitted && model.editWidgetForm.name.$invalid"
                   ng-class="{submitted:model.editWidgetForm.name.$invalid && model.editWidgetForm.$submitted}">
            <span class="fa fa-exclamation-triangle"></span>
                Please enter Widget Name
        </span>
        </div>
        <div class="form-group">
            <label>Text</label>
            <div ng-model="model.widget.text"
                 text-angular
                 ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
            </div>
        </div>
    </form>

    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget(model.widgetId)">Delete</a>
</div>