<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"/>
                </a>
            </p>
            <a class="navbar-brand"
               href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget.widgetType='HEADER')">
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget.widgetType='LABEL')">
                Label
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget.widgetType='HTML')">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget.widgetType='TEXT')">
                Text Input
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget.widgetType='LINK')">
                Link
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget.widgetType='BUTTON')">
                Button
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget.widgetType='IMAGE')">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget.widgetType='YOUTUBE')">
                YouTube
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget.widgetType='TABLE')">
                Data Table
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget.widgetType='REPEATER')">
                Repeater
            </a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>